.TodoList {
    display: flex;
    background-color: #fff;
    width: 650px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px 0px rgba(#000000, .12);
    border-radius: 5px;

    &.dark {
        background: #333336;
        color: #fff !important
    }
}