.TodoTool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    color: rgba(#000000, .5);

    & label {
        transition: .3s ease;
        background-color: transparent;
        padding: 5px;
        border-radius: 3px;
        border: 2px solid transparent;
        outline: none;
        font-size: 15px;
        margin: 0px 3px;
        &:hover {
            cursor: pointer;
            color: rgba(#000000, .7)
        }
    }
    & input[type="radio"] {
        display: none;
    }
    & input[type="radio"]:checked + label {
        border-color: #ffcccc;
    }
    &_deleteCompleted{
        transition: .3s ease;
        padding: 5px;
        background-color: transparent;
        border: none;
        border-radius: 3px;
        outline: none;
        border: 2px solid transparent;
        cursor: pointer;
        &.hidden {
            opacity: 0;
            cursor: default;
        }
        &:hover {
            border-color: #ffcccc;
        }
    }
}